@font-face {
	font-family: Kollektif;
	src: url('Kollektif.ttf') format('truetype'),
		 url('Kollektif.woff') format('woff'),
		 url('Kollektif.woff2') format('woff2'),
		 url('Kollektif.eot') format('embedded-opentype'),
		 url('Kollektif.svg#Kollektif') format('svg');
}

body {
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
	font-family: Kollektif, Lato, Muli; 
	/*letter-spacing: 0.1px;*/
	height: 100%;
	margin: 0px; 
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    background-size: cover;
	/*background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);*/
}

#intro {
	padding-top: 4%;
}

#intro p {
	margin: 0;
	font-size: 2em;
}

#intro .col-xs-7 {
	padding: 4% 0;
	color: white;
}

/*#header {
	margin: auto;
	width: 80%;
}

#intro {
	font-size: 2em;
	color: white;
}

.contact {
	display: block;
}

img {
	float: left;
}*/

.container {
	padding: 3.5% 0;
}

img {
	border-radius: 50%;
	width: 200px;
	border: white;
	box-sizing: border-box;
    border: 8px solid rgba(256, 256, 256, 0.6);
    margin-right: 9%;
}

.jumbotron {
	font-size: 16px;
	margin: 1% 8%;
	box-shadow: 0px 4px 3px rgba(0,0,0,0.1),
                 0px 8px 3px rgba(0,0,0,0.1),
                 0px 4px 3px rgba(0,0,0,0.1);
}

#mainhr {
	margin-top: 0;
	margin-bottom: 20px;
}

.weeklyheading:after {
	display: block;
    content: '';
    width: 4em;
    height: 2px;
    margin-top: 3px;
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.jumbotron p {
	opacity: 0.9;
	font-size: 1.4em;
}

a {
	color: #6d38a0;
}

a:hover {
	color: #9b4b66;
}

.btn {
	margin-right: 10px;
}
