@font-face {
	font-family: Kollektif;
	src: url('Kollektif.ttf') format('truetype'),
		 url('Kollektif.woff') format('woff'),
		 url('Kollektif.woff2') format('woff2'),
		 url('Kollektif.eot') format('embedded-opentype'),
		 url('Kollektif.svg#Kollektif') format('svg');
}

body {
	/*background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);*/
	font-family: Kollektif, Lato, Muli; 
	height: 100%;
	margin: 0px; 
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    background-size: cover;
	background-image: linear-gradient(120deg, #ec77ab 0%, #7873f5 100%);
}

#intro {
	padding-top: 4%;
}

#intro p {
	margin: 0;
	font-size: 2em;
}

#intro .col-xs-7 {
	padding: 2% 0;
	color: white;
}

.container {
	padding: 3.5% 0;
}

img {
	border-radius: 50%;
	width: 200px;
	border: white;
	box-sizing: border-box;
    border: 8px solid rgba(256, 256, 256, 0.6);
    margin-right: 9%;
}

.jumbotron {
	font-size: 14px;
	margin: 1% 8%;
	box-shadow: 0px 4px 3px rgba(0,0,0,0.1),
                 0px 8px 3px rgba(0,0,0,0.1),
                 0px 4px 3px rgba(0,0,0,0.1);
}

#mainhr {
	margin-top: 0;
	margin-bottom: 20px;
}

h2:after {
	display: block;
    content: '';
    width: 4em;
    height: 2px;
    margin-top: 4px;
    margin-bottom: 15px;
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

h2 {
	font-size: 26px;
}

h4 {
	font-size: 18px;
	color: #5686b8;
}

.weeklyheading {
	font-size: 24px;

}

.jumbotron p {
	opacity: 0.9;
	font-size: 16px;
}

a {
	color: #6d38a0;
}

a:hover {
	color: #9b4b66;
}

.btn {
	margin-right: 10px;
	padding-bottom: 8px;
}

td {
	width: 50%;
}

th {
	text-align: center;
}